* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  max-width: 1140px;
  margin: 0 auto;
}

.center_tablet {
  max-width: 770px;
  margin: 0 auto;
}

.header {
  background-color: #222;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100vw;
}

.top-head {
  background-color: #f8f3F4;
  padding-top: 60px;
  padding-bottom: 60px;
}

.top-head_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 41px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 41px;
}

.top-head_heading {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #F16D7F;
}

.breadcrumbs_link {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
  text-align: left;
}

.breadcrumbs_link_site {
  color: #F16D7F;
}


.card_btn {
  padding: 0;
  border: none;
  background: none;

}



.card_gallery {
  background-color: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_content {
  transform: translateY(-65px);
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_title {
  color: #F16D7F;
}

.card_palochka {
  margin-top: 12px;
  margin-bottom: 12px;
}

.card_title-brends {
  margin-bottom: 48px;
}

.card_text {
  max-width: 555px;
  text-align: center;
  margin-bottom: 32px;

}

.card_prices {
  margin-bottom: 132px;
}

.card_nav-menu {
  display: flex;
  gap: 23px;
}

.card_nav-menu span {
  align-items: center;
  display: flex;
}

.card_nav-menu svg {
  margin-left: 9px;
}

.card_add {
  margin-top: 48px;
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 22px;
  color: #F16D7F;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-color: #F16D7F;
  background: transparent;
  padding-right: 39px;
}

.relatives {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.relatives-cards {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  ;
}

.rel-cards {
  display: flex;
  flex-direction: column;
  margin: 23px 28px 20px 16px;
  justify-content: space-between;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #000000;

}

.relatives-cards-content {
  margin: 12px 0px 18px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #5D5D5D;

}

.relatives-cards-price {
  color: #F16D7F;

}

.feedback {

  margin-top: 128px;
  background-image: url('./img/bg_footer.png');
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: overlay;
  background-size: cover;

}

.feed_class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 448px;
}

.feedback-comment {

  display: flex;
  flex-direction: column;
  width: 225px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.feedback-comment {
  border-radius: 50%;
}

p {
  text-align: center;
  font-family: 'Lato';
  font-size: 20px;
}

.feedback-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 97px 27px 104px;

}

h4 {
  font-family: 'Lato';
  text-align: center;
  font-size: 24px;

}

h3 {
  font-family: 'Lato';
  text-align: center;
  font-size: 20px;
}

.feedback-button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 30px 30px 0;


  font-family: "Robo";
  font-size: 14px;
  text-align: center;
  color: #FFF;


}

.inpt_class {
  width: 250px;
  height: 49px;
  background-color: #E1E1E1;
  ;
  border: none;
  border-radius: 30px 0 0 30px;
  padding: 7px 22px 6px 22px;

}

.feedback_form {

  display: flex;
  margin-top: 27px;
  /* gap: -33px; */
}

h5 {
  color: #FBFBFB;
  font-size: 16px;
  font-family: "Lato";
}

li {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  ;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;

}

.icons {
  display: flex;
  gap: 8px
}

.icon {
  background-color: #222222;
  ;
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  gap: 30px;
}

.header_hd {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 771px) {

  .card_gallery_tablet,
  .img_tablet,
  .relatives_tablet,
  .img_s,
  .card_btn_tablet,
  .right_tb {
    display: none;
  }
}

@media screen and (max-width : 770px) {

  .card_gallery_tablet,
  .relatives_tablet,
  .card_gallery,
  .relatives {
    display: none;
  }

  .card_gallery_tablet {
    display: flex;
    position: relative;
  }

  .img_tablet {
    width: 466px;
    height: 565px;
  }

  .relatives_tablet {
    display: flex;
    /* display: flex; */
    justify-content: space-around;
    gap: 15px;
    margin: 0 13px 0 13px;

  }

  .img_sd {
    width: 100%;
  }

  .card_btn_tablet {
    position: absolute;
    top: 50%;
    transform: translate(Y - 50%);
    border: none;
  }

  .right_tb {
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */